*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem 0.25rem 2rem;
    background: #f6f6f6;
}

.profile{
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.profile > img{
    height: 2rem;
}

.profileimg{
    height: 2.5rem !important;
    position: relative;
    transform: translateY(-0.25rem);
    border-radius: 50%;
}

.logo{
    display: flex;
    gap: 1rem;
}

.logo img{
    height: 2rem;
}

.logo button{
    border: none;
    background: #f6f6f6;
}

.logo button img{
    height: 1rem;
    cursor: pointer;
}

.searchbar{
    display: flex;
    height: 2rem;
    border-radius: 20px;
    border: 1px solid #000;
    justify-content: space-between;
}

.searchbar input{
    width: 20rem;
    border: none;
    outline: none;
    background: transparent;
    padding-left: 0.5rem;
}

.searchbar > img{
    padding-top: 0.35rem;
    height: 1.25rem;
    padding-right: 0.5rem;
}

.sidebar{
    background-color: #f6f6f6;
    width: 200px;
    height: 100vh;
    transition: width 2s ease;
}

.sidebar ul{    
    padding-left: 2rem;
    list-style: none;
    padding-top: 1rem;
    transition: padding-left 2s ease;
}

.sidebar ul li{
    cursor: pointer;
    display: flex;
    gap: 1rem;
    padding-top: 0.7rem;
}

.sidebar ul li span{
    padding-top: 0.5rem;
    font-size: 1.1rem;
}

.sidebar ul li img{
    width: 35px;
}
